#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nav-bar{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.discord-logo{
  width: 12.5%;
}

.menu-icon{
  width: 2.5%;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  text-align: left;
  height: 80vh;
  width: 460px;
}

.header button{
  padding: 10px 30px;
  border: none;
  border-radius: 100px;
}

#download-btn{
  background-color: #FFFFFF;
  color: #232729;
  width: 180px;
  margin-bottom: 20px;
}

#open-btn{
  color: #FFFFFF;
  background-color: #232729;
  width: 280px;
}

h1 {
  font-family: 'Poppins', sans-serif;;
  font-size: 3.2em;
  line-height: 1.1;
  color: #FFFFFF;
}
